@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --app-font-family:'Nunito Sans', sans-serif;
    --navbar-height:65px;
}

[data-theme="ligth"] {
    --app-bg-color:#fafafa;
    --app-items-color:#ffffff;
    --app-font-color:#111517;
}

[data-theme="dark"] {
    --app-bg-color:#202c37;
    --app-items-color:#2b3945;
    --app-font-color:#ffffff;
}