@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --app-font-family:'Nunito Sans', sans-serif;
    --navbar-height:65px;
    --containers-padding-left-right: 30px;
}

[data-theme="ligth"] {
    --app-bg-color:#fafafa;
    --app-items-color:#ffffff;
    --app-font-color:#111517;
    --app-p-input-font-color:#858585;
}

[data-theme="dark"] {
    --app-bg-color:#202c37;
    --app-items-color:#2b3945;
    --app-font-color:#ffffff;
    --app-p-input-font-color:#ffffff;
}


@media screen and (max-width: 400px) {
    :root {
        --containers-padding-left-right: 15px;
    }
}